  
  article {
    width: calc(100% - 220px);
    margin-left: 210px;
    text-align: center;
  }
  
  .description {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }
  
  .container {
    margin-left: 30px;
  }
  
  .titre {
    font-family: Poppins;
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
    color: black;
  }
  .titre2{
    position:relative;
  }
  
  .women {
    margin-top: 60px;
  }
  
  
  
  @media (max-width:800px) {
    article{
        margin: auto;
    }
  }